
table
{
	border: medium solid blue;
	border-collapse: collapse;
	/* width: 30%;
	*/
	background-color: black;
}

th
{
	font-family: monospace;
	border: thin solid blue;
	/* width: 30%;
	*/
	padding: 15px;
	font-weight: bold;
	font-size: 30px;
	background-color: black;
}

td
{
	font-family: sans-serif;
	border: thin solid blue;
	/* width: 30%;
	*/
	padding: 15px;
	text-align: center;
	background-color: black;
}

caption
{
	font-family: sans-serif;
}